<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Employers</title>
    <link rel="stylesheet"  href="/css/styleCompanyWorkerMenuEmployers.css">
</head>
<body>
<form id="homePageCompanyManager">
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="/css/images/logo.PNG" >
            <ul>
                <li><a href="/companyWorker/editProfile/<%=mail%>" class="active">My Profile</a> </li>
                <li><a href="/companyWorker/menuEmployers/<%=mail%>">Employers</a> </li>
                <li><a href="/companyWorker/menuContractorWorker/<%=mail%>">Contractor Workers</a> </li>
                <li><a href="#">Statistics</a> </li>
                <li><a href="#">Messages</a> </li>
                <li><a href="#">Log Out</a> </li>
            </ul>
        </nav>
        <div class="serviceArea">
            <lable>Menu for performing employer operations</lable>
        </div>
        <div class="serviceArea1">
            <div class="button" >
                <input type="submit" value="Add employer" onclick="addEmp()"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
            </div>
        </div>
        <div class="serviceArea2">
             <div class="button">
                <input type="submit" value="Delete employer" target="_blank"   href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
            </div>
        </div>
    </div>
</form>

</body>
<script>
    function addEmp() {
        window.open("/employer/signUp", "_blank");
    }
</script>
</html>
