<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employ Me Website</title>
    <link rel="stylesheet"  href="/css/styleCompanyWorkerHomePage.css">
</head>
<body>
<form id="homePageCompanyManager">
<div class="wrapper">
    <nav class="navbar">
        <img class="logo" src="/css/images/logo.PNG" >
        <ul>
            <li><a href="/companyWorker/editProfile/<%=mail%>" class="active">My Profile</a> </li>
            <li><a href="/companyWorker/menuEmployers/<%=mail%>">Employers</a> </li>
            <li><a href="/companyWorker/menuContractorWorker/<%=mail%>">Contractor Workers</a> </li>
            <li><a href="#">Statistics</a> </li>
            <li><a href="#">Messages</a> </li>
            <li><a href="#">Log Out</a> </li>
        </ul>
    </nav>
    <div class="center">
        <h1>Welcome To Employ Me</h1>
        <h2>Find contractors and make employments!</h2>
    </div>
</div></form>
</body>
</html>
