<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu contractor</title>
    <link rel="stylesheet"  href="/css/styleCompanyWorkerMenuEmployers.css">
</head>
<body>
<form id="homePageCompanyManager">
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="/css/images/logo.PNG" >
            <ul>
                <li><a href="/companyWorker/editProfile<%=email%>" class="active">My Profile</a> </li>
                <li><a>Employers</a> </li>
                <li><a href="#">Contractor Workers</a> </li>
                <li><a href="#">Statistics</a> </li>
                <li><a href="#">Messages</a> </li>
                <li><a href="#">Log Out</a> </li>
            </ul>
        </nav>
        <div class="serviceArea">
            <lable>Menu contractor</lable>
        </div>
        <div class="serviceArea">
            <lable>To add an contractor on the "Add contractor" button</lable>
            <div class="button" >
                <input type="submit" value="Add employer" onclick="addCon()"  href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
            </div>
        </div>
        <div class="serviceArea">
            <lable>To delete an contractor on the "Delete contractor" button</lable>
            <div class="button">
                <input type="submit" value="Delete employer" target="_blank"  onclick="addCon()" href="/companyWorker/styleCompanyWorkerMenuEmployers" readonly>
            </div>
        </div>
    </div>
</form>

</body>
<script>
    function addCon() {
        window.open("/contractorWorker/contractorSignUp", "_blank");
    }
</script>
</html>
