<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="/css/style_contractor_homepage.css">
    </head>
<body>
    <div class="main-div">
        <label class="logo"></label>
        <nav>
            <ul>
                <li><a href="/contractorWorker/contractorHomepage">Home</a></li>
                 <li><a href="/contractorWorker/contractorProfile">Profile</a></li>
                 <li><a href="#">Future shifts</a></li>
                 <li><a href="#">Shifts history</a></li>
                 <li><a href="/contractorWorker/contractorUnavailability">Vacation report</a></li>
                 <li><a href="#">Pay checks</a></li>
                 <li><a href="#">My role lesson</a></li><li>
                 <li><a href="#">Contact Us</a></li><li>
                 <li><a href="#">Messages</a></li><li>
                 <li><a href="homePage1">Log Out</a></li>
                 <button ></button>
            </ul>
        </nav>
    </div>
</body>
</html>