<html>
    <haed>
        <title>
            Sign Up
        </title>
        <link rel="stylesheet" href="/css/styleContractorSignUp.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
    </haed>
    <body>
        <div class="user-details">
        <form class="model-content animate" action="/contractorWorker/addContractorWorker" method="POST" id="form" >
            <div class="imgcontainer">
            <img src="/css/images/user_img.png" class="avatar" />
            </div>
            <div class="container">
            <h1>Sign up</h1>            
            <hr>   
            <p>Personal Information:</p>
            <div class="input-box" data-error="Error message">
             <lable>Fisrt Name</lable>
            <input type="text" class="input" id="firstName" placeholder="Name" name="firstName" pattern="[A-z]+{3,50}" title="Name in error" />
            </div>
            <br />
            <div class="input-box" data-error="Error message">
            <lable>Last Name</lable>
            <input type="text" class="input" id="lastName" placeholder="LastName" name="lastName" />
            </div>
            <br />
            <div class="input-box" data-error="Error message">
            <lable>Birthday</lable>
            <input type="date" class="input" id="birthday" name="birthday" max="2002-12-31" required />
            </div>
            <br />
            <div class="input-box" data-error="Error message">
            <label>Email</label>
            <input type="email" class="input" id="mail" placeholder="Name@example.com" name="mail" />
            </div>
            <br />
            <div class="input-box" data-error="Error message">
            <label>Phone</label>
            <input type="phone" class="input" id="phone" placeholder="Phone" name="phone" />
            </div>
            <br />
            <hr>
            <p>Employment details:</p>
            <label>Occupation Area</label>
            <select id="occupationArea" name="occupationArea">
              <option >Insurance</option>
              <option >High-tech</option>
              <option >Technical</option>
              <option >Finance</option>
              <option >Human resources</option>
              <option >Offices</option>
              <option >Marketing</option>
              <option >Sales</option>
              <option >Digital</option>
              <option >Operations and logistics</option>
              <option >Biotech</option>
              <option >Waitresses</option>
              <option >Cleaning</option>
              <option >Production workers</option>
              <option >Customer service</option>
              <option >Renovations</option>
              <option >Other</option>
            </select>
            <br />
            <label>Experience Field</label>
              <select id="experienceField" name="experienceField">
              <option value="1-5 years" >1-5 years</option>
              <option value="5-10 years" >5-10 years</option>
              <option value="10-15 years" >10-15 years</option>
              <option value="Over 15 years" >Over 15 years</option>
            </select>
            <br />
            <label>Service Area</label>
            <select id="serviceArea" name="serviceArea">
                <option >North</option>
                <option >South</option>
                <option>Lowlands</option>
                <option >Jerusalem Area</option>
                <option >Dan Area</option>
                <option >Galilee</option>  
            </select>       
            <br />
            <label>Scope Work</label>
              <select id="scopeWork" name="scopeWork">
                <option >3-6</option>
                <option >6-8</option>
                <option >8-10</option>
                <option >10-12</option>
              </select>
            <br />
            <hr>
            <div class="input-box" data-error="Error message">
            <lable>Password</lable>
            <input type="text" id="password" class="password"  name="password" readonly  />            
            </div>
            <button type="button" class="btn btn-outline-info" onclick="getPassword()">Get Password</button>
            <br />
            <input  class='registerbtn btn-outline-info' value="Sign Up" onclick="signup()" readonly>
        </div>
        </form>
    </div>
    </body>

    <script >
        
        var firstName=document.getElementById("firstName");
        var lastName=document.getElementById("lastName");
        var mail=document.getElementById("mail");
        var phone=document.getElementById("phone");
        var birthday=document.getElementById("birthday");
        var pass=document.getElementById("password");
        document.querySelectorAll('.input-box[data-error] .input').forEach(inpEl=>{
            inpEl.addEventListener('input',()=>inpEl.parentElement.removeAttribute('data-error'));
        });
        firstName.parentElement.removeAttribute('data-error');
        lastName.parentElement.removeAttribute('data-error');
        phone.parentElement.removeAttribute('data-error');
        mail.parentElement.removeAttribute('data-error');
        birthday.parentElement.removeAttribute('data-error');
        pass.parentElement.removeAttribute('data-error');

        var temp=0;
    function signup(){ 
        
        const firstNameValue=firstName.value.trim();
        const lastNameValue=lastName.value.trim();
        const phoneValue=phone.value.trim();
        const mailValue=mail.value.trim();
        const birthdayValue=birthday.value.trim();     
        const passValue=birthday.value.trim();  

        var flag=0;
        const birth=new Date(birthdayValue);
        const b=new Date('2000/01/01');
        if(firstNameValue==""){
                firstName.parentElement.setAttribute('data-error','First name can not be empty');
                flag=1;
        }
        if(firstNameValue.length<3 ){
            firstName.parentElement.setAttribute('data-error','First name must contain less 3 character');
            flag=1;
        }
        if(firstNameValue.length>50 ){
            firstName.parentElement.setAttribute('data-error','First name must contain no more  50 character');
            flag=1;
        }
        if(!/^[a-zA-Z]+$/.test(firstNameValue)){
            firstName.parentElement.setAttribute('data-error','First name must contain only character');
        }
        if(lastNameValue==""){
            lastName.parentElement.setAttribute('data-error','Last name can not be empty');
            flag=1;
        }
        if(lastNameValue.length<3){
            lastName.parentElement.setAttribute('data-error','Last name must contain less 3 character');
            flag=1;
        }
        if(lastNameValue.length>50){
            lastName.parentElement.setAttribute('data-error','Last name must contain no more  50 character');
            flag=1;
        }
        if(phoneValue.length!=10){
            phone.parentElement.setAttribute('data-error','Phone must contain 10 digits');
            flag=1;
        } 
        if(!mailValue.includes('@')){
            mail.parentElement.setAttribute('data-error','mail must be example@example.com');
            flag=1;
        } 
        if(birthdayValue == ''){
                birthday.parentElement.setAttribute('data-error','Birthday empty, The minimum age is 18 years');
                flag=1;
        } 
        if(temp==0){
            pass.parentElement.setAttribute('data-error','You did not get a password');
            flag=1;
        }
          
        if(flag==0){
            document.getElementById("form").submit();
        }

    }  
    
    function getPassword() {
        let p=""
        for(var i=0;i<6;i++){
            p+=Math.floor(Math.random() * 6);
        }
        temp=1;
       document.getElementById("password").setAttribute('value',p)
    
    }
</script>
  
</html>