<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="/css/styleContractorHomepage.css">
    </head>
<body>
    <div class="wrapper"></div>
    
    <nav class="navbar">
        <a href="/">
            <img class="logo" src="/css/images/logo.PNG">
        </a>
        <ul>
            <li><a href="/contractorWorker/contractorProfile/<%=mail%>">Profile</a></li>
                 <li><a href="/contractorWorker/contractorFuture/<%=mail%>">Future shifts</a></li>
                 <li><a href="/contractorWorker/contractorHistory/<%=mail%>">Shifts history</a></li>
                 <li><a href="/contractorWorker/contractorUnavailability/<%=mail%>">Vacation report</a></li>
                 <li><a href="#">Pay checks</a></li>
                 <li><a href="#">My job rate</a></li>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">Messages</a></li>
                 <li><a href="/">Log Out</a></li>
        </ul>        
    </nav>
    
</body>
</html>