<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Employment-Rate</title>
        <link rel="stylesheet" href="/css/styleEmployerRate.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="rating">
            <input type="radio" name="star" id="star1"><lable for="star1"></lable>
            <input type="radio" name="star" id="star2"><lable for="star2"></lable>
            <input type="radio" name="star" id="star3"><lable for="star3"></lable>
            <input type="radio" name="star" id="star4"><lable for="star4"></lable>
            <input type="radio" name="star" id="star5"><lable for="star5"></lable>

        </div>

    </body>
</html>