<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Employer-Home Page</title>
        <link rel="stylesheet"  href="/css/styleEmployerHomePage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="wrapper">
            <!-- <div class="navbar">
                <a class="logo" href="/">
                    <img class="img" src="/css/images/logo.PNG">
                </a>
                <a href="#"><i class="fa fa-fw fa-sign-out"></i> Log Out</a>
                <a href="#"><i class="fa fa-fw fa-heart"></i> Favorites</a>
                <a href="#"><i class="fa fa-fw fa-history"></i> History</a>
                <a href="#"><i class="fa fa-fw fa-hourglass-half"></i> Confirm Employments</a>
                <a href="#"><i class="fa fa-fw fa-pie-chart"></i> Info & Statistics</a> 
                <a href="search"><i class="fa fa-fw fa-search"></i> Search</a> 
                <a class="active" href="editProfile"><i class="fa fa-fw fa-home"></i> My Profile</a> 
              </div> -->
            <nav class="navbar">
                <a href="/">
                    <img class="logo" src="/css/images/logo.PNG">
                </a>
                <ul>
                    <li><a class="active" href="/employer/editProfile/<%=email%>">My Profile</a> </li>
                    <li><a href="/employer/search/<%=email%>">Search</a> </li>
                    <li><a href="#">Info & Statistics</a> </li>
                    <li><a href="/employer/confirmEmployments/<%=email%>">Confirm Employments</a> </li>
                    <li><a href="/employer/employerHistory/<%=email%>">History</a> </li>
                    <li><a href="#">Favorites</a> </li>
                    <li><a href="#">Log Out</a> </li>
                </ul>
            </nav>
            <!-- <div class="center">
            <h1>Welcome To Employ Me</h1>
            <h2>Find contractors and make employments!</h2>
            </div> -->
        </div>
</body>
</html>