<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Edit Profile Of | Employer</title>
        <link rel="stylesheet" href="/css/styleEmployerEditProfile.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title">Edit Your Profile</div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" placeholder="First name">
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" placeholder="Last name">
                    </div>
                    <div class="input-box">
                        <span class="details">Phone</span>
                        <input type="number" placeholder="Phone number">
                    </div>
                    <div class="input-box">
                        <span class="details">Company</span>
                        <input type="text" placeholder="Company name">
                    </div>
                    <div class="input-box">
                        <span class="details">Role</span>
                        <input type="text" placeholder="Role">
                    </div>
                    <div class="button1">
                        <input type="submit" value="Reset Password">
                    </div> 
                </div>
                <div class="button">
                    <input type="submit" value="Save">
                </div> 
            </form>
        </div>
    </body>  
</html>