<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employer-Home Page</title>
        <link rel="stylesheet"  href="/css/styleEmployerHomePage.css">
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar">
                <img class="logo" src="/css/images/logo.PNG">
                <ul>
                    <li><a class="active" href="#">My Profile</a> </li>
                    <li><a href="#">Search</a> </li>
                    <li><a href="#">Info & Statistics</a> </li>
                    <li><a href="#">Confirm Employments</a> </li>
                    <li><a href="#">History</a> </li>
                    <li><a href="#">Favorites</a> </li>
                    <li><a href="#">Log Out</a> </li>
                </ul>
            </nav>
            <div class="center">
            <h1>Welcome To Employ Me</h1>
            <h2>Find contractors and make employments!</h2>
            </div>
        </div>
</body>
</html>