<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="/css/style_homepage.css">
    </head>
<body>
    <div class="main-div">
<nav>
  <label class="logo">Project</label>
  <ul>
      <li><a href="#" onclick="newHome()">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Company Services</a></li>
      <li><a href="#">Solutions and products</a></li>
      <li><a href="#">Customers</a></li>
      <li><a href="#">contact</a></li>
  </ul>  
</nav>
</div>
<script src="homepage.js"></script>
</body>
</html>