<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="/css/style_homepage.css">
    </head>
<body>
    <div class="main-div">
    <%- include ('nav.ejs')%>
    </div>
<script src="homepage.js"></script>
</body>
</html>