<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Websit Home Page</title>
        <link rel="stylesheet"  href="/css/styleHomePage1.css">
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar">
                <img class="logo" src="/css/images/logo.PNG">
                <ul>
                    <li><a class="active" href="contractorWorker/login">Login</a> </li>
                    <li><a href="employer/signUp">SignUp as Employer</a> </li>
                    <!-- <li><a href="#">SignUp as EmployMe Worker</a> </li> -->
                </ul>
            </nav>
            <div class="container">
                <!-- <img src="/css/images/homelogo.PNG"> -->
            <!-- <div class="center">
            <h1>Welcome To Employ Me</h1>
            <h2> A Human resources company </h1>
            <h2>We make the best connection betweem contractors and employer</h2>
            <h2>Lets start!</h2>
            </div> -->
        </div>
    </div>
</body>
</html>