<!doctype html>
<html>
<head>  
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/style_login.css"/>
    
</head>
<body>
  <div class="modal">
  <div class="container">
    <form class="modal-content animate" action="/contractor w orker/login" method="get">
    <div class="imgconteiner">
    <img src="/css/images/user_img.png" class="avatar"/>
    </div>
  <div class="container">
    <label>Mail Address</label>
    <br>
    <input type="email" id="email" placeholder="Name@example.com" required/>
    <br>
    <label>Password</label>
    <input type="password" id="password" placeholder="Password" required/>
    <br>
    <input type="checkbox">Enployer
    <input type="checkbox">EmployMe Worker
    <input type="checkbox">Contractor worker
    <button type='submit' class='loginbtn btn-outline-info' >Log-in</button>
   
  </div>

  </form>

</div>
<script type='text/javascript'>
  function login(){ 
  var pass=document.getElementById("password").value;
  if (pass.length <6)
    alert('Password is invalid,\npassword must contain at least 6 characters');      
  }
</script>
</body>
</html>