<!doctype html>
<html>
<head>  
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/style_login.css"/>
    
</head>
<body>
  <div class="modal">
  <div class="container">
    <form class="modal-content animate" action="/" method="get">
    <div class="imgconteiner">
    <img src="/css/images/user_img.png" class="avatar"/>
    </div>
  <div class="container">
    <label>Mail Address</label>
    <br>
    <input type="email" id="email" placeholder="Name@example.com" required/>
    <br>
    <label>Password</label>
    <input type="password" id="password" placeholder="Password" required/>
    <br>
    <input type="checkbox">Remember me
    <button type='submit' class='login btn' onclick="login()">Log-in</button>
    <label>
      <p>Forgot <a href="#">Password</a></p>
    </label>
    <label>
      <p>No account?<a href="/signup">Sign-Up</a></p>
    </label>
  </div>

  </form>

</div>
<script type='text/javascript'>
  function login(){ 
  var pass=document.getElementById("password").value;
  if (pass.length <6)
    alert('Password is invalid,\npassword must contain at least 6 characters');      
  }
</script>
</body>
</html>