<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>SignUp As-Employer</title>
        <link rel="stylesheet" href="/css/styleResetPasswordEmployer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title">Reset Password </div>
            <form class="model-content animate" id="form" action='/employer/resetPassword/<%=email%>' method="POST">
                <div class="user-details">
                    <div class="input-box" data-error="Error message">
                        <span class="details">Password*</span>
                        <input type="password" class="input" placeholder="Password" name="password" id="password">
                    </div>
                    <div class="input-box" data-error="Error message">
                        <span class="details">Re-Password*</span>
                        <input type="password" class="input" placeholder="Password again" id="rePassword">
                    </div>
                </div>
                <lable>* Mandatory fields</lable>
                    <div class="button">
                            <input value="Update" onclick="update()" readonly>
                    </div>
               
               
            </form>
            <form class="model-content animate" id="form2" action="/employer/homepage/<%=email%>" method="GET">
                    <div class="button"> 
                        <input value="Cancel" type="submit" readonly>
                    </div>
            </form>
        </div>
    </body>
    <script >
        const password=document.getElementById("password");
        const rePassword=document.getElementById("rePassword");
        document.querySelectorAll('.input-box[data-error] .input').forEach(inpEl=>{
            inpEl.addEventListener('input',()=>inpEl.parentElement.removeAttribute('data-error'));
        });
       
        password.parentElement.removeAttribute('data-error');
        rePassword.parentElement.removeAttribute('data-error');
        function update()
        { 
            var pass=password.value.trim();
            var rePass=rePassword.value.trim();
            var flag=0;
            if(pass.length<6 || pass.length>128){
                password.parentElement.setAttribute('data-error','Password must contain between 6 to 128 characters');
                flag=1;
            }
            else{
                if(rePass==""){
                    rePassword.parentElement.setAttribute('data-error','Please confirm the password');
                    flag=1;
                }
                if(rePass!=pass){
                    rePassword.parentElement.setAttribute('data-error','Invalid password verification');
                    flag=1;
                }
            }
            if(flag==0){
                document.getElementById("form").submit();
            }
        }
    </script>
</html>