<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>menu</title>
        <link rel="stylesheet" href="style_homepage.css">
    </head>
<body>
    <%- include ('nav.ejs')%>   
</body>
</html>