  body{
      font-family: Arial, Helvetica, sans-serif;

 }
 input[type=text],input[type=password]{
     width: 100%;
     padding: 12px 20 px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }
 button{
     background-color: turquoise;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: inherit;
     cursor: pointer;
     width: 100%;
 }
 button:hover{
     opacity: 0.8;

 }
.imgcontainer{
    text-align: center;
    margin: 12px 0 8px  0;
    position: relative;

}
img.avatar{
    width: 20%;
    border-radius: 20%;
}
.modal{
    background-color: black;
    overflow: auto;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    position: fixed;
}
.modal-content{
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}
.container{
    padding: 16px;

}
span.psw{
    float: right;
    padding-top: 16px;
}
    
/* body{
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito',sans-serif; 
    font-size: 16px;
}
.loginbtn:hover{
    opacity: 1;
} */
/* input,button{
    font-family: 'Nunito',sans-serif; 
    font-weight: 700;
} */
/* .main-div,.loggodin-div{
    width: 20%;
    margin: 0px auto;
    margin-top: 150px ;
    padding: 20px;
}
.main-div input{
   display: block; 
   border: 1px solid #ccc;
   border-radius: 5px;
   background: #fff;
   padding: 15px;
   outline:  none;
   width: 100%;
   margin-bottom: 20px;
} */
/* .main-div button, .loggodin-div button{
    background: blue;
    color: #fff;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 118%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
} */
/* .main-div input:focus{
    border: 1px solid #777;
} */
/* .main-div button:hover, .loggodin-div button:hover{
    background: #fff;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
} */