*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif; 
}

.navbar{
	height: 80px;
	width: 100%;
	background: rgb(255, 255, 255);
}
.logo{
	float: left;
	margin-left: 50px;
    padding-left: 0px;
    margin-left: 0;
	width: 190px;
	height: 73px;
	/* padding: 5px 50px; */
}
.navbar ul{
	float: right;
	margin-right: 0px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	text-decoration: none;
	color: rgb(40, 21, 94);
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	transition: .4s;

}
.navbar ul li a.active, .navbar ul li a:hover{
	background: rgb(241, 230, 67);
	border-radius: 2px;
}
.r20{
    height: 20vh;
    padding-left: 200px;
    padding-top: 0px;
}
.r10{
    height: 10vh;
    padding-left: 100px;
    padding-top: 0px;
}
.r70{
    height: 70vh;
    padding-left: 10px;
    padding-top: 0px;
}
.r{
    padding-left: 100px;
}
.col-7{
    height: 1000px;
}
.col-5{
    height: 1000px;
}
.container-fluid .title{
    font-size: 50px;
    font-weight: 600;
    margin-left: 350px;
    margin-top: 60px;
}
.container-fluid .title2{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 10px;
}
.title::before{
    content: '';
    position: absolute;
    left: 30;
    margin-top: 45px;
    height: 4px;
    width: 35px;
    background: linear-gradient(135deg, #060747,#eff871);
}
.title2::before{
    content: '';
    position: absolute;
    left: 30;
    margin-top: 45px;
    height: 4px;
    width: 30px;
    background: linear-gradient(135deg, #060747,#eff871);
}
*{
    font-family: 'Poppins',sans-serif;  
}
body{
    justify-content: center;
    align-items: center;
    background: url('images/back5.png') no-repeat;
	background-size: cover;
	height: 140vh;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 140px;
    width: 400px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;;
    box-shadow: 2px 2px 7px #ededed, -2px -2px 7px #ffffff;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;;
    box-shadow: 2px 2px 7px #ededed, -2px -2px 7px #ffffff;
}
.card3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 300px;
    padding: 25px;
    border-radius: 5px;
    background: #ffffff;;
    box-shadow: 2px 2px 7px #ededed, -2px -2px 7px #ffffff;
    margin-top: 15px;
    margin-left: 200px;
}
.card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_inner > span {
    font-size: 25px;
}
.text-yellow {
    color: #f3dd6d;
}
.text-blue {
    color: #060747;
}
.text-gray {
    color: #727272;
}
.text-primary-p {
    color: #060747;
    font-size: 20px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
    font-size: 20px;
}

.text-title{
    color: #060747;
}